name: Build Prebuilds

on:
  push:
    branches:
      - main
      - master
      - 'fix/**'
  pull_request:
  workflow_dispatch:

jobs:
  prebuild:
    strategy:
      matrix:
        os:
          - windows-2025
          - windows-11-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-15
          - macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm install --omit peer --omit optional

      - name: Build binary
        run: npm x -- prebuildify -t 20.19.5

      - name: Upload prebuilds
        uses: actions/upload-artifact@v5
        with:
          name: prebuilds-${{ matrix.os }}
          path: prebuilds/**

  combine:
    needs: prebuild
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Download all prebuilds
        uses: actions/download-artifact@v5
        with:
          path: all-prebuilds

      - name: Combine prebuilds
        run: |
          mkdir -p prebuilds
          find all-prebuilds -type f -name '*.node' -exec cp {} prebuilds/ \;

      - name: Upload combined prebuilds
        uses: actions/upload-artifact@v5
        with:
          name: prebuilds-combined
          path: prebuilds/
